[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[credential]
  helper = GIT_CREDENTIAL_HELPER
[difftool]
  prompt = false
[mergetool]
  keepback = true
  prompt = false
  keepBackup = true
[diff]
  renames = copies
  mnemonicprefix = true
[diff "objcpp"]
  xfuncname = ^[-+@a-zA-Z_].*$
[diff "objcppheader"]
  xfuncname = ^[@a-zA-Z_].*$
[diff "localizablestrings"]
  textconv = "iconv -f utf-16 -t utf-8"
[apply]
  whitespace = nowarn
[alias]
  co = checkout
  promote = !$ZSH/bin/git-promote
  wtf     = !$ZSH/bin/git-wtf
  rank-contributers = !$ZSH/bin/git-rank-contributers
  count   = !git shortlog -sn
  st = status
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[core]
  excludesfile = ~/.gitignore
  editor = /usr/local/bin/code -w
  whitespace = cr-at-eol
  pager = less -Xr
  autocrlf = input
[branch]
  autosetupmerge = true
  autosetuprebase = always
[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to surpress warning message
  default = simple
[merge]
  stat = true
[advice]
  statusHints = false
[rerere]
  enabled = true
[difftool]
  prompt = false
[sendemail]
  confirm = auto
  chainreplyto = false
  thread = false
  suppresscc = all
  trustExitCode = true
[mergetool]
  prompt = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
